@{
    ViewData["Title"] = "HabTesoro";
}
<body>
    <main>
        <section class = "tesoro">
            <h2>¡Entrás a la pirámide y encontrás los tesoros del faraón! ¡Rápido, agarrá todo el oro que puedas!</h2>

            <a href='@Url.Action("EntrarTesoroCerrada", "Home" , new {nombre = @ViewBag.Nombre})'>STEAL</a>

        </section>
    </main>
</body>