@{
    ViewData["Title"] = "HabTesoro";
}
<body>
    <main>
        <section class = "tesoro">
            <h2>¡Entras a la piramide y encontrás los tesoros del faraon! ¡Rapido, agarrá todo el oro que puedas!</h2>

            <a href='@Url.Action("EntrarTesoroCerrada", "Home" , new {nombre = @ViewBag.Nombre})'>ENTRAR HABITACIÓN</a>

        </section>
    </main>
</body>