@{
    ViewData["Title"] = "HabTesoroCerrada";
}
<body>
    <main>
        <section class = "tesoroCerrado">
            <h2>¡OH NO! ¡La entrada se ha cerrado tendremos que ir por otra salida!</h2>

            <a href='@Url.Action("EntrarHabitacion1", "Home" , new {nombre = @ViewBag.Nombre})'>ENTRAR A LA HABITACIÓN</a>
        </section>
    </main>
</body>