@{
    ViewData["Title"] = "HabView4";
}
<body>
    <main>
        <section class = "hab4">
            <h1>Jeroglíficos Cruzados</h1>
            <h2>Llegás a la última cámara: la Sala del Juicio. En las paredes, las letras giran en el aire, desordenadas. Un último enigma bloquea la salida:</h2>
            <h3>“Estas letras perdieron el orden en la cámara del caos: SUANIB."</h3>
            <h4>Ordénalas para formar al dios que juzga a los muertos.</h4>
                <form action='@Url.Action("EntrarHabitacionFinal", "Home")' method = post>
                    <input type="text" style="text-transform: uppercase;" name = "Respuesta" autocomplete="off">
                    <div>
                        <input type="submit" value="ENVIAR">
                    </div>
                </form>
        </section>
    </main>
</body>