@{
    ViewData["Title"] = "HabView1";
}
<body>
    <main>
        <section class = "hab1">
            <h1>LA SALA DEL ECO PERDIDO</h1>
            <h3>Las antorchas se encienden solas. Una voz susurra, sin boca, sin cuerpo. Te encontrás en una cámara circular. La piedra vibra levemente. En una de las paredes aparece una inscripción:</h3>
            <h2>“No tengo boca y repito lo que oigo. Vivo en los templos, en las montañas, pero me desvanecen los vivos. ¿Qué soy?”</h2>
            <form action='@Url.Action("EntrarHabitacion2", "Home")' method = post>
                <input type="text" style="text-transform: lowercase;" name = "Respuesta">
                <input type="submit" value="ENVIAR">
            </form>
        </section>

    </main>
</body>

