@{
    ViewData["Title"] = "Index";
}
<main>
    <body>
        <h1>BIENVENIDO A LA MALDICIÓN DE LA PIRÁMIDE</h1>
        
        <img src="fotos/1.jpg" alt="FOTOS INDEX">
        <form action='@Url.Action("EntrarHabitacion1", "Home")' method = post>
            <input type="text" name="nombre"/>
            <input type="submit" value = "JUGAR">
        </form>
    </body>
</main>