@{
    ViewData["Title"] = "Resultado";
}
<body>
    <main>
        <section class = "resultado">
            <h2>Al pronunciar correctamente el nombre del dios, la pirámide tiembla levemente. Una luz celestial desciende. Has probado tu ingenio y tu alma ha sido juzgada.</h2> 
            <h1>¡Enhorabuena @ViewBag.nombre! ¡Has escapado de la maldición!</h1>
        </section>
    </main>
</body>