
*{
  margin: 0%;
  padding: 0%;
  border: 1px solid black;
}

form{
  border: none;
}

div{
  border: none;
}

.inicio
{
  background-color: #c28852;
}

.inicio h1{
  font-size: 5ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: #926234;
  box-shadow: 2px 10px 4px #664423;
  margin: 1%;
  padding: 1%;
  border: none;
}

.inicio img{
  width: 40%;
  height:auto;
  margin: 1%;
  margin-left: 30%;
  border: none;
}
.inicio div{
  background-color: #d39459;
  box-shadow: 6px 4px 4px #926234;
  padding: 1%;
  width: 20%;
  text-align: center;
  margin-left: 40% ;
  border: none;
}

.inicio div h3{
  margin: 1%;
  width: 96%;
  font-size: 3ex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
}

.inicio div input{
  font-size: 3ex;
  background-color: white;
  margin: 1%;
  display: flex;
  width: 96%;
  border: none;
}

.inicio h2{
  border-radius: 5px;
  width: 60%;
  margin: 1%;
  padding: 1%;
  text-align: center;
  margin-left: 20%;
  font-weight: lighter;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
}

.inicio h3{
  margin-left: 35%;
  width: 29%;
  padding: 1%;
  font-size: 6ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
}

.inicio input {
  font-size: 5ex;
  background-color: #ebc753;
  padding: 1%;
  margin: 1%;
  margin-left: 47%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
}

.tesoro
{
  background-image: url("/fotos/HabitaciónTesoro.png");
  background-size: cover;
  height: 100vh;
}
.tesoroCerrado
{
  background-image: url("/fotos/HabitaciónTesoroCerrada.png");
  background-size: cover;
  height: 100vh;
}
.tesoro h2
{
  border: 1px solid white;
  color: white;
  background-color:#f1a053bd;
  width: 50%;
  font-size: 5ex;
  margin: 1%;
}
.tesoro a

.hab1{
  background-image: url("/fotos/hab1.jpg");  
  background-size: cover;
  height: 100vh;
}

.hab1 h1{
  font-size: 5ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: #926234;
  box-shadow: 2px 10px 4px #664423;
  margin: 1%;
  padding: 1%;
  border: none;
}

body{
  width: 100%;
  height: auto;
  border: none;
}

.hab1 h3{
  margin: 3%;
  padding: 1%;
  font-size: 4ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  text-align: center;
  margin-left: 28%;
  background-color: #bb7e45;
  box-shadow: 3px 1px 3px #664423;
  border: none;
}

.hab1 h2{
  width: 50%;
  height: auto;
  margin: 1%;
  padding: 1%;
  background-color:#ac624c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left:22.8%;
  font-style: italic;
  text-align: center;
  border: none;
}

.hab1 input {
  margin-left: 38.88%;
  font-size: 3ex;
  padding: 1%;
  border: none;
}

.hab1 div input {
  margin-left: 46%;
  background-color: #ebc753;
  padding: 0.5%;
  margin-top: 1%;
  text-align: center;
  border: none
}

.hab1 form{
  border: none;
}

.hab1 div{
  border: none;
}

.hab2{
  background-image: url("/fotos/hab2.jpg");  
  background-size: cover;
  height: 100vh;
}

.hab2 h1{
  font-size: 5ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: #926234;
  box-shadow: 2px 10px 4px #664423;
  margin: 1%;
  padding: 1%;
  border: none;
}

.hab2 h2{
  margin: 3%;
  padding: 1%;
  font-size: 4ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  text-align: center;
  margin-left: 29%;
  background-color: #bb7e45;
  box-shadow: 3px 1px 3px #664423;
  border: none;
}

.hab2 h3{
  width: 47%;
  height: auto;
  margin: 1%;
  padding: 1%;
  background-color:#ac624c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left:25.7%;
  font-style: italic;
  text-align: center;
  border: none;
}

.hab2 h4{
  margin-left: 43%;
  font-size: 2ex;
  background-color: #ebc753;
  padding: 0.5%;
  width: 12.5%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  border: none;
}

.hab2 input {
  margin-left: 41.8%;
  font-size: 3ex;
  padding: 1%;
  margin-top: 0.5%;
  border: none;
}

.hab2 div input {
  margin-left: 47%;
  background-color: #ebc753;
  padding: 0.5%;
  margin-top: 0.5%;
  border: none;
}

.but{
  width: 8%;
  display: inline-block;
  margin-left: 32%;
  margin-right: 0.8%;
  border: none;
}

.hab2 div img{
  width: 100%;
  border: 1px solid black;
}

.hab2 img{
  width: 8%;
  height: auto;
  border-radius: 100px;
  clear: both;
  margin-right: 0.8%;
  border: 1px solid black;
}

.hab3{
  background-image: url("/fotos/hab3.jpg");  
  background-size: cover;
}

.hab3 h1{
  font-size: 5ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: #926234;
  box-shadow: 2px 10px 4px #664423;
  margin: 1%;
  padding: 1%;
  border: none;
}

.hab3 h2{
  padding: 1%;
  font-size: 4ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  text-align: center;
  margin-left: 28%;
  background-color: #bb7e45;
  box-shadow: 3px 1px 3px #664423;
  border: none;
}

.hab3 h3{
  width: 45%;
  height: auto;
  margin: 1%;
  padding: 1%;
  background-color:#ac624c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left:25.7%;
  font-style: italic;
  text-align: center;
  border: none;
}

.hab3 img{
  margin-left: 5%;
  width: 20%;
  margin-left: 39%;
  border: none;
}

.hab3 input {
  margin-left: 41.1%;
  font-size: 3ex;
  padding: 1%;
  margin-top: 0.5%;
  border: none;
}

.hab3 div input {
  margin-left: 46%;
  background-color: #ebc753;
  padding: 0.5%;
  margin-top: 1%;
  border: none;
}

.hab4{
  background-image: url("/fotos/hab4.jpg");
  background-size: cover;
  height: 100vh;
}

.hab4 h1{
  font-size: 5ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: #926234;
  box-shadow: 2px 10px 4px #664423;
  margin: 1%;
  padding: 1%;
  border: none;
}

.hab4 h2{
  margin: 3%;
  padding: 1%;
  font-size: 4ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  text-align: center;
  margin-left: 28%;
  background-color: #bb7e45;
  box-shadow: 3px 1px 3px #664423;
  border: none;
}

.hab4 h3{
  width: 30%;
  height: auto;
  padding: 1%;
  background-color:#ac624c;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left:33.5%;
  font-style: italic;
  text-align: center;
  border: none;
}

.hab4 h4{
  margin-left: 40%;
  font-size: 2ex;
  background-color: #ebc753;
  padding: 0.5%;
  width: 18%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin-top: 1%;
  border: none;
}
.hab4 input {
  margin-left: 41.5%;
  font-size: 3ex;
  padding: 1%;
  margin-top: 0.5%;
  border: none;
}

.hab4 div input {
  margin-left: 47%;
  background-color: #ebc753;
  padding: 0.5%;
  margin-top: 1%;
  border: none;
}

.resultado{
  background-image: url("/fotos/salida.jpg");
  background-size: cover;
  height: 100vh;
}

.resultado h2{
  margin: 3%;
  padding: 1%;
  font-size: 4ex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  background-color: #bb7e45;
  box-shadow: 3px 1px 3px #664423;
  border: none;
}

.resultado h1{
  border: none;
  background-color:#ebc753;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 60%;
  text-align: center;
  box-shadow: 3px 1px 3px #664423;
  padding: 1%;
  margin-left: 20%;
  font-size: 6ex;
}

